/* styles.css */

html {
    scroll-behavior: smooth;
}

/* Reset default margin and padding */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}



.portfolio-item a {
    color: inherit;
    text-decoration: underline;
}

.portfolio-item a:visited {
    color: inherit;
    text-decoration: underline;
}

project-type-heading {
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    padding: 20px;
    border: 2px solid #2a9d8f;
    border-radius: 10px;
    margin: 10px;
    max-width: 22rem;
    height: fit-content;
}

project-type-heading h {
    color: #e76f51;
    font-size: 1.75rem;
    font-weight: 700;
    /* padding-bottom: 10px; */
    text-shadow: 1px 0 1px #000, -1px 0 1px #000, 0 1px 1px #000, 0 -1px 1px #000;    
}

/* project-type-heading h3 {
    max-width: 22rem;
} */

project-type-heading p {
    width: 18rem;
    padding: 1rem;
    margin: auto;
}

h2 {
    font-size: 2rem;
}

p {
    line-height: 1.5;
    margin: 0 10%;
}

h1{
    font-size: 50px;
}


h3 {
    margin-bottom: 10px;
}


.portfolio-item {
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 1rem;
}

.title_name {
    text-shadow: 0px 0px 10px #e76f51, 0px 0px 20px #f4a261, 0px 0px 30px #e9c46a;
    padding-bottom: 10px;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    padding: 0 10px;
    background-color: #264653;
}

header {
    background-color:#2a9d8f;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 3px;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

header.show {
    display: block;
}

.profile {
    /* margin-bottom: 20px;
    margin-top: 15px; */
    /* transform: translate(0, 50%); */
    z-index: 1;
}

.profile img {
    border-radius: 50%;
    width: 25%;
    aspect-ratio: 1;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid #e76f51;
    box-shadow: 0 0 100px #2a9d8f;
}

.profile h1 {
    margin: 0;
    z-index: 1;
}

nav {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav.show {
    color: transparent;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    /* display: inline; */
    margin-right: 10px;
    margin-left: 10px;
    transition: all 0.3s ease;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #264653;
    padding: 3px 5px;
    border: 1px solid #e76f51;
    border-radius: 3px;
    height: fit-content;
    width: fit-content;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: #e76f51;
}

nav img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #264653;
    border: 1px solid #e9c46a;
}

section {
    padding: 20px 0;
    text-align: center;
    /* margin-bottom: 20px; */
}

#about p {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 1rem;
}

#hero {
    height: calc(100vh - 45px);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .portfolio {
    display: block;
} */

#portfolio h2 {
    background-color: #f4a261;
}

.portfolio-item {
    padding-bottom: 20px;
}

.portfolio-item img {
    width: 20rem;
    border-radius: 1rem;
}

#contact h2 {
    background-color: #e9c46a;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#heroCanvas {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 2px solid #fff; */
    border-radius: 10px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}

#contact {
    padding-bottom: 70px;
}

h2 {
    margin-bottom: 30px;
    background-color: #e76f51;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 5px 0px 10px #2a9d8f, -5px 0px 10px #2a9d8f, 0px 5px 10px #2a9d8f, 0px -5px 10px #2a9d8f;
}

h2:hover {
    box-shadow: 0px 0px 50px #2a9d8f;

}

footer {
    background-color: #2a9d8f;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-left: -10px;
    /* position: fixed; */
    width: calc(100% + 20px);
}

.section-divider {
    border: 1px solid #000;
    height: 5px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    display: none;
}

.p5js {
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 5px solid #e76f51;
}

.p5js h2 {
    display: flex;
    justify-content: center;
}

canvas {
    border-radius: 10px;
    margin: auto;
    display: block;
    /* border: 5px solid #e76f51; */
}

main {
    align-content: center;
    align-items: center;
    /* margin: auto; */
    margin-top: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: #000; */
}
